<!DOCTYPE html>
<html>
<head>
    <title>
    Resultado del modelo

    </title>
</head>

<body>
    <h1>
    Modelo de producción de ventanas
    </h1>
    <form method="post"> 
        <div>
        <input type="number" name="madera" placeholder="Ingrese la utilidad de una ventana de madera" value="0"></input>
        <input type="number" name="aluminio" placeholder="Ingrese la utilidad de una ventana de aluminio" value="0"></input>
        </div>
        <button type="submit">Resolver el modelo</button>
    </form>
    <p>
        El resultado de x1 es: {{res1}}, 
        El resultado de x2 es: {{res2}}
    </p>
</body>
</html>